---
layout: base
---

<!-- Header Title-->
<header class="pt-4 px-4 {{ settings.colors.bodyText | default('text-gray-500',true) }} mx-auto w-full">
  <div class="text-3xl font-light">
    {{ title }}
  </div>
</header>

<div class="mt-4 font-light {{ overrides.textColor | default(settings.colors.bodyText, true) }} {{ overrides.padding | default('px-4', true) }} {{ overrides.bgColor | default(settings.colors.background, true) }} {{ overrides.textSize | default('text-lg', true) }}">
  {{ content | safe }}
</div>